/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@font-face {
    font-family: shareBold;
    src: url(/fonts/Share-Bold.ttf);
}

@font-face {
    font-family: Verdana;
    src: url(/fonts/Verdana.ttf);
}

.manage-view-count {
	font-size: 20px;
}

#root {
	padding-left: 10%;
	padding-right: 10%;
}

@media screen and (min-width: 0px) and (max-width: 758px) {
	#root {
		padding-left: 0px;
		padding-right: 0px;
	}
	.hide-in-mobile {
		display:none !important;
	}
}

#notification-container {
	top: 10px;
}

.filter-container {
	margin-bottom: 10px;
}

body, #header > .navbar {
	background-color: #e0d6b9;
}

#root > div {
	background-color: white;
	padding-left: 1%;
	padding-right: 1%;
}

body, #root,  #root > div{
	height: 100%;
}

html {
	height: auto;

}

#header, #header .navbar > li.main-nav-item > a , thead > tr > th {
	font-family: shareBold;
	font-size: 18pt;
	color: #1e3250;
}

body {
	font-family: Verdana;
	font-size: 12pt;
}


#header-logo {
    background-position: 0 -88px!important;
    height: 49px;
    width: 283px;
}

#header-logo {
    background: url(/img/hml-logot.png) 0 0 no-repeat transparent!important;
    overflow: hidden;
    background-position: 0 -88px!important;
    height: 49px;
    width: 283px;
    clear: left;
}

.manage-view-count {
	text-align: center;
	font-family: shareBold;
	font-size: 32pt;
	border: 1px solid rgba(0, 0, 0, .1);
	color: #f77952;
}

.manage-view-header {
	font-family: shareBold;
	font-size: 16pt;
	border: 1px solid rgba(0, 0, 0, .1);
	padding: 2px;
	color: #1e3250;
}

#logo-container {
	width: 100%;
	height: 100px;
}

.navbar-default .navbar-nav > li.main-nav-item > a {
	color: #1e3250;
}

.navbar-default .navbar-nav > li.main-nav-item > a:hover {
	color: #f77952;
}

.navbar-default .navbar-nav > li.main-nav-item > a:focus {
	color: #1e3250;
}

nav.navbar-default {
	border-bottom: solid 3px #1e3250;
}

.submit-button,.edit-button {
	margin-bottom: 5px;
}

#google-map {
	width: 350px;
	height: 350px;
}

#footer {
	min-height: 20px;
}

.table-container {
	overflow-x: auto; 
}

.filter-row {
	margin-bottom: 10px;
}

.validation-error {
	box-shadow: 0 0 3px #ff0000;
}

.required-error {
	box-shadow: 0 0 3px #ff0000;
}