<div class="row">
	<div class="col-md-4">
		<p class="manage-view-header">Venepaikat</p>
		<p class="manage-view-count">{{data.boat_resources}}</p>
	</div>
	<div class="col-md-4">
		<p class="manage-view-header">Vapaat venepaikat</p>
		<p class="manage-view-count">{{data.free_boat_resources}}</p>
	</div>
	<div class="col-md-4">
		<p class="manage-view-header">Nykyiset ja tulevat varaukset</p>
		<p class="manage-view-count">{{data.current_or_future_reservations}}</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
</div>