<td>{{model.getName()}}</td>
<td>{{unit.getName()}}</td>
<td>{{model.getTypeFinnish()}}</td>
<td>{{model.getLength()}}</td>
<td>{{model.getWidth()}}</td>
<td>{{model.getDepth()}}</td>
<td>{{is_reserved}}</td>