<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h3><strong>Venepaikka</strong></h3>
            <dl class="dl-horizontal align-left">
                <dt>Nimi</dt>
                <dd>{{resource.getName()}}</dd>

                <dt>Tyyppi</dt>
                <dd>{{resource.getTypeFinnish()}}</dd>

                <dt>Hinta</dt>
                <dd>{{resource.getPriceFinnish()}}</dd>

                <dt>Lisätiedot</dt>
                <dd>{{resource.getDescription()}}</dd>

                <dt>Leveys</dt>
                <dd>{{resource.getWidth()}}</dd>

                <dt>Pituus</dt>
                <dd>{{resource.getLength()}}</dd>

                <dt>Syveys</dt>
                <dd>{{resource.getDepth()}}</dd>

                <dt>Käytössä</dt>
                <dd>
                    <%if(resource.isDisabled()) {%>
                        Ei
                    <%}else{%>
                        Kyllä
                    <%}%>
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <%if(reservation) {%>
                <h3><strong>Edellinen / nykyinen varaus</strong></h3>
                <h4><strong>Varaus:</strong></h4>
                <dl class="dl-horizontal">
                    <dt>Alkaa</dt>
                    <dd>{{reservation.getBeginTimeFinnish()}}</dd>

                    <dt>Päättyy</dt>
                    <dd>{{reservation.getEndTimeFinnish()}}</dd>

                    <dt>Paikka</dt>
                    <dd>{{resource.getName()}}</dd>

                    <dt>Lisätiedot</dt>
                    <dd>{{reservation.getDescription()}}</dd>

                    <dt>Tila</dt>
                    <%if(reservation.isCancelled()) {%>
                        <dd>{{reservation.getStateFinnish()}} ({{reservation.getStateUpdated()}})</dd>
                    <%}else{%>
                        <dd>{{reservation.getStateFinnish()}}</dd>
                    <%}%>

                    <dt>Maksettu</dt>
                    <dd>
                        <label class="switch reservation-is-paid">
                            <%if(reservation.getIsPaid()) {%>
                                <input type="checkbox" class="reservation-is-paid" checked>
                            <%}else{%>
                                <input type="checkbox" class="reservation-is-paid">
                            <%}%>
                            <div class="slider round reservation-is-paid"></div>
                        </label>
                        <div>{{reservation.getIsPaidTimeFinnish()}}</div>
                    </dd>

                    <%if(resource.getType() == 'dock') {%>
                        <dt>Avain palautettu</dt>
                        <dd>
                            <label class="switch reservation-key-returned">
                                <%if(reservation.getKeyReturned()) {%>
                                    <input type="checkbox" class="reservation-key-returned" checked>
                                <%}else{%>
                                    <input type="checkbox" class="reservation-key-returned">
                                <%}%>
                                <div class="slider round reservation-key-returned"></div>
                            </label>
                            <div>{{reservation.getKeyReturnedTimeFinnish()}}</div>
                        </dd>
                    <%}%>
                </dl>

                <h4><strong>Varaaja:</strong></h4>
                <dl class="dl-horizontal">
                    <dt>Nimi</dt>
                    <dd>{{reservation.getReserverName()}}</dd>

                    <dt>Osoite</dt>
                    <dd>{{reservation.getReserverAddress()}}, {{reservation.getReserverZip()}} {{reservation.getReserverCity()}}</dd>

                    <dt>Puhelinnumero</dt>
                    <dd>{{reservation.getReserverPhone()}}</dd>

                    <dt>Sähköpostiosoite</dt>
                    <dd>{{reservation.getReserverEmail()}}</dd>
                </dl>
            <%}%>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="resource-edit" class="btn btn-default">Muokkaa</button>
            <%if(!resource.isDisabled()) {%>
                <button id="resource-new-reservation" class="btn btn-primary">Uusi varaus</button>
            <%}%>
        </div>
    </div>
</div>