<td class="clickable">{{model.getName()}}</td>
<td class="clickable">{{unit.getName()}}</td>
<td class="clickable">{{model.getTypeFinnish()}}</td>
<td class="clickable">{{model.getPriceFinnish()}}</td>
<td class="clickable">{{model.getLength()}}</td>
<td class="clickable">{{model.getWidth()}}</td>
<td>
  <%if(model.isReserved()){%>
    Varattu
  <%}else{%>
    <button id="resource-new-reservation" class="new-object-button reserve">Varaa</button>
  <%}%>
</td>
