<tr>
	<th name="resource__name">Paikan nimi <span class="ordering-icon glyphicon"></span></th>
	<th name="resource__unit__name">Kohde <span class="ordering-icon glyphicon"></span></th>
	<th name="type">Tyyppi <span class="ordering-icon glyphicon"></span></th>
	<th name="length_cm">Pituus <span class="ordering-icon glyphicon"></span></th>
	<th name="width_cm">Leveys <span class="ordering-icon glyphicon"></span></th>
	<th name="depth_cm">Syväys <span class="ordering-icon glyphicon"></span></th>
	<th>Varattu</th>
</tr>