<tr>
	<th>Paikan nimi</th>
	<th>Kohde</th>
	<th class="hide-in-mobile">Tyyppi</th>
	<th class="hide-in-mobile">Pituus</th>
	<th class="hide-in-mobile">Leveys</th>
	<th class="hide-in-mobile">Syväys</th>
	<th>Varattu</th>
</tr>