<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h4><strong>Varaus:</strong></h4>
			<p>Aikaväli: {{reservation.getTimeSpanFinnish()}}</p>
			<p>Paikka: {{resource.getName()}}</p>
			<p>Lisätiedot: {{reservation.getDescription()}}</p>
			<%if(reservation.isCancelled()) {%>
				<p>Tila: {{reservation.getStateFinnish()}} ({{reservation.getStateUpdated()}})</p>
			<%}else{%>
				<p>Tila: {{reservation.getStateFinnish()}}</p>
			<%}%>
			<p>Maksettu:</p>
			<label class="switch reservation-is-paid">
				<%if(reservation.getIsPaid()) {%>
					<input type="checkbox" class="reservation-is-paid" checked>
				<%}else{%>
					<input type="checkbox" class="reservation-is-paid">
				<%}%>
				<div class="slider round reservation-is-paid"></div>
			</label>

			<div>{{reservation.getIsPaidTimeFinnish()}}</div>

			<h4><strong>Varaaja:</strong></h4>
			<p>Nimi: {{reservation.getReserverName()}}</p>
			<p>Osoite: {{reservation.getReserverAddress()}}, {{reservation.getReserverZip()}} {{reservation.getReserverCity()}}</p>
			<p>Puhelinnumero: {{reservation.getReserverPhone()}}</p>
			<p>Sähköpostiosoite: {{reservation.getReserverEmail()}}</p>

			<%if(!reservation.isCancelled()) {%>
				<button type="button" class="btn btn-danger" id="reservation-cancel">Peruuta varaus</button>
			<%}%>
		</div>
		<div class="col-md-6">

		</div>
	</div>
</div>
