
<div class="row">
	<div class="col-md-6">
		<h3>{{resource.getName()}}</h4>
		<p>{{resource.getTypeFinnish()}}</p>
		<p>Leveys: {{resource.getWidth()}}</p>
		<p>Pituus: {{resource.getLength()}}</p>
		<p>Syveys: {{resource.getDepth()}}</p>
		<button id="resource-edit" class="btn btn-default">Muokkaa</button>
	</div>
	<div class="col-md-6">

	</div>

</div>