<tr>
	<th name="resource__name">Paikan nimi <span class="ordering-icon glyphicon"></span></th>
	<th name="resource__unit__name">Kohde <span class="ordering-icon glyphicon"></span></th>
	<th name="type" class="hide-in-mobile">Tyyppi <span class="ordering-icon glyphicon"></span></th>
	<th name="length_cm" class="hide-in-mobile">Pituus <span class="ordering-icon glyphicon"></span></th>
	<th name="width_cm" class="hide-in-mobile">Leveys <span class="ordering-icon glyphicon"></span></th>
	<th name="depth_cm" class="hide-in-mobile">Syväys <span class="ordering-icon glyphicon"></span></th>
	<th>Varattu</th>
</tr>