<div class="container-fluid">
    <div class="form form row filter-row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="filter-search">Haku</label>
                <input name="search" type="text" class="form-control filter-input" id="filter-search" placeholder="Etsi" value="{{filters.search}}">
            </div>
        </div>
    </div>
</div>