<td>{{model.getName()}}</td>
<td>{{model.getStreetAddress()}}</td>
<td class="hide-in-mobile">{{model.getZip()}}</td>
<td class="hide-in-mobile">{{model.getEmail()}}</td>
<td class="hide-in-mobile">{{model.getPhone()}}</td>
<td>{{boat_resource_count}}</td>