<tr>
	<th name="name">Nimi <span class="ordering-icon glyphicon"></span></th>
	<th name="street_address">Osoite<span class="ordering-icon glyphicon"></span></th>
	<th name="address_zip" class="hide-in-mobile">Postinumero <span class="ordering-icon glyphicon"></span></th>
	<th name="email" class="hide-in-mobile">Email <span class="ordering-icon glyphicon"></span></th>
	<th name="phone" class="hide-in-mobile">Puhelinnumero <span class="ordering-icon glyphicon"></span></th>
	<th>Venepaikkoja</th>
</tr>